In [2]:
import pandas as pd
df = pd.read_csv('OnlineRetail.csv', encoding = "ISO-8859-1")
print(df.info())
print('Dữ liệu có 541909 dòng và 8 cột, InvoiceNo, StockCode, Description, InvoiceDate, Country là kiểu dữ liệu object, Quantity là kiểu số nguyên, CustomerID và UnitPrice là kiểu số thực')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
Dữ liệu có 541909 dòng và 8 cột, InvoiceNo, StockCode, Description, InvoiceDate, Country là kiểu dữ liệu object, Quantity là kiểu số nguyên, CustomerID và UnitPrice là kiểu số thực

In [3]:
print('Bảng Pivot table với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia')
print(df.pivot_table(values='Quantity',index='InvoiceNo',columns='Country',aggfunc ='mean'))

Bảng Pivot table với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia
Country    Australia  Austria  Bahrain  Belgium  Brazil  Canada  \
InvoiceNo
536365           NaN      NaN      NaN      NaN     NaN     NaN
536366           NaN      NaN      NaN      NaN     NaN     NaN
536367           NaN      NaN      NaN      NaN     NaN     NaN
536368           NaN      NaN      NaN      NaN     NaN     NaN
536369           NaN      NaN      NaN      NaN     NaN     NaN
...              ...      ...      ...      ...     ...     ...
C581484          NaN      NaN      NaN      NaN     NaN     NaN
C581490          NaN      NaN      NaN      NaN     NaN     NaN
C581499          NaN      NaN      NaN      NaN     NaN     NaN
C581568          NaN      NaN      NaN      NaN     NaN     NaN
C581569          NaN      NaN      NaN      NaN     NaN     NaN

Country    Channel Islands  Cyprus  Czech Republic  Denmark  ...  RSA  \
InvoiceNo                                                    ...
536365                 NaN     NaN             NaN      NaN  ...  NaN
536366                 NaN     NaN             NaN      NaN  ...  NaN
536367                 NaN     NaN             NaN      NaN  ...  NaN
536368                 NaN     NaN             NaN      NaN  ...  NaN
536369                 NaN     NaN             NaN      NaN  ...  NaN
...                    ...     ...             ...      ...  ...  ...
C581484                NaN     NaN             NaN      NaN  ...  NaN
C581490                NaN     NaN             NaN      NaN  ...  NaN
C581499                NaN     NaN             NaN      NaN  ...  NaN
C581568                NaN     NaN             NaN      NaN  ...  NaN
C581569                NaN     NaN             NaN      NaN  ...  NaN

Country    Saudi Arabia  Singapore  Spain  Sweden  Switzerland  USA  \
InvoiceNo
536365              NaN        NaN    NaN     NaN          NaN  NaN
536366              NaN        NaN    NaN     NaN          NaN  NaN
536367              NaN        NaN    NaN     NaN          NaN  NaN
536368              NaN        NaN    NaN     NaN          NaN  NaN
536369              NaN        NaN    NaN     NaN          NaN  NaN
...                 ...        ...    ...     ...          ...  ...
C581484             NaN        NaN    NaN     NaN          NaN  NaN
C581490             NaN        NaN    NaN     NaN          NaN  NaN
C581499             NaN        NaN    NaN     NaN          NaN  NaN
C581568             NaN        NaN    NaN     NaN          NaN  NaN
C581569             NaN        NaN    NaN     NaN          NaN  NaN

Country    United Arab Emirates  United Kingdom  Unspecified
InvoiceNo
536365                      NaN        5.714286          NaN
536366                      NaN        6.000000          NaN
536367                      NaN        6.916667          NaN
536368                      NaN        3.750000          NaN
536369                      NaN        3.000000          NaN
...                         ...             ...          ...
C581484                     NaN   -80995.000000          NaN
C581490                     NaN      -11.500000          NaN
C581499                     NaN       -1.000000          NaN
C581568                     NaN       -5.000000          NaN
C581569                     NaN       -3.000000          NaN

[25900 rows x 38 columns]

In [8]:
print('Bảng Pivot table với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho')
print(df.pivot_table(values='Quantity',index='CustomerID',columns='StockCode',aggfunc ={max, min}))

Bảng Pivot table với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho
             max                                                           \
StockCode  10002 10080 10120 10123C 10124A 10124G 10125 10133 10135 11001
CustomerID
12346.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12347.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12348.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12349.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
12350.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
...          ...   ...   ...    ...    ...    ...   ...   ...   ...   ...
18280.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18281.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18282.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18283.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN
18287.0      NaN   NaN   NaN    NaN    NaN    NaN   NaN   NaN   NaN   NaN

            ...    min
StockCode   ... 90214Y 90214Z BANK CHARGES  C2 CRUK   D DOT    M PADS POST
CustomerID  ...
12346.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12347.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
12348.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12349.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
12350.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  1.0
...         ...    ...    ...          ...  ..  ...  ..  ..  ...  ...  ...
18280.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18281.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18282.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN
18283.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  1.0  NaN  NaN
18287.0     ...    NaN    NaN          NaN NaN  NaN NaN NaN  NaN  NaN  NaN

[4372 rows x 7368 columns]

In [9]:
import numpy as np
print('Bảng Pivot table với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá')
print(df.pivot_table(values = ['Quantity','UnitPrice'],index = 'StockCode', aggfunc = {'Quantity': np.sum, 'UnitPrice': np.mean}))

Bảng Pivot table với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá
              Quantity  UnitPrice
StockCode
10002             1037   1.056849
10080              495   0.376667
10120              193   0.210000
10123C             -13   0.487500
10123G             -38   0.000000
...                ...        ...
gift_0001_20        20  15.038000
gift_0001_30        37  21.941250
gift_0001_40         3  33.566667
gift_0001_50         4  41.890000
m                    1   2.550000

[4070 rows x 2 columns]

In [11]:
print('Bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày')
df['InvoiceDay']=df['InvoiceDate'].str.split(' ').str[0]
print(df.pivot_table(values = 'Quantity',index = 'InvoiceDay',aggfunc = 'sum'))

Bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày
            Quantity
InvoiceDay
1/10/2011       9014
1/11/2011      29093
1/12/2011      10133
1/13/2011      10114
1/14/2011      23091
...              ...
9/5/2011       23484
9/6/2011       14959
9/7/2011       16211
9/8/2011       16944
9/9/2011       16100

[305 rows x 1 columns]