In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('OnlineRetail.csv')
print(df.info())
print('Dữ liệu có 541909 dòng và 8 cột')
print('InvoiceNo, StockCode, Description, InvoiceDate, Country là kiểu dữ liệu object, Quantity là kiểu số nguyên, CustomerID và UnitPrice là kiểu số thực')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
Dữ liệu có 541909 dòng và 8 cột
InvoiceNo, StockCode, Description, InvoiceDate, Country là kiểu dữ liệu object, Quantity là kiểu số nguyên, CustomerID và UnitPrice là kiểu số thực

In [13]:
#Tạo cột mới có tên quý –  ‘Previous’
df['Month'] = df['InvoiceDate'].str.split('/').str[0]
conditions = [(df['Month'] == '1') | (df['Month'] == '2') | (df['Month'] == '3'),
             (df['Month'] == '4') | (df['Month'] == '5') | (df['Month'] == '6'),
             (df['Month'] == '7') | (df['Month'] == '8') | (df['Month'] == '9'),
             (df['Month'] == '10') | (df['Month'] == '11') | (df['Month'] == '12')]
choices = ['1','2','3','4']
df['Previous'] = np.select(conditions, choices, default = 'NaN')
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country Month Previous
0        12/1/2010 8:26       2.55     17850.0  United Kingdom    12        4
1        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
2        12/1/2010 8:26       2.75     17850.0  United Kingdom    12        4
3        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
4        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
...                 ...        ...         ...             ...   ...      ...
541904  12/9/2011 12:50       0.85     12680.0          France    12        4
541905  12/9/2011 12:50       2.10     12680.0          France    12        4
541906  12/9/2011 12:50       4.15     12680.0          France    12        4
541907  12/9/2011 12:50       4.15     12680.0          France    12        4
541908  12/9/2011 12:50       4.95     12680.0          France    12        4

[541909 rows x 10 columns]

In [14]:
#Tạo một cột mới có tên ‘Amount’ có giá trị bằng Quantity * UnitPrice
df['Amount'] = df['Quantity'] * df['UnitPrice']
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country Month Previous  \
0        12/1/2010 8:26       2.55     17850.0  United Kingdom    12        4
1        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
2        12/1/2010 8:26       2.75     17850.0  United Kingdom    12        4
3        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
4        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
...                 ...        ...         ...             ...   ...      ...
541904  12/9/2011 12:50       0.85     12680.0          France    12        4
541905  12/9/2011 12:50       2.10     12680.0          France    12        4
541906  12/9/2011 12:50       4.15     12680.0          France    12        4
541907  12/9/2011 12:50       4.15     12680.0          France    12        4
541908  12/9/2011 12:50       4.95     12680.0          France    12        4

        Amount
0        15.30
1        20.34
2        22.00
3        20.34
4        20.34
...        ...
541904   10.20
541905   12.60
541906   16.60
541907   16.60
541908   14.85

[541909 rows x 11 columns]

In [15]:
#Tạo cột mới ‘Discount’ nhận giá trị 10% nếu Country là ‘United Kingdom’ và thuộc quý 4, 5% nếu là ‘France’ ngược lại là 0%.
conditions_1 = [df['Country'] == 'United Kingdom',
                df['Country'] == 'France']
choices_1 = [0.1,0.05]
df['Discount'] = np.select(conditions_1, choices_1, default = 0)
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country Month Previous  \
0        12/1/2010 8:26       2.55     17850.0  United Kingdom    12        4
1        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
2        12/1/2010 8:26       2.75     17850.0  United Kingdom    12        4
3        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
4        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
...                 ...        ...         ...             ...   ...      ...
541904  12/9/2011 12:50       0.85     12680.0          France    12        4
541905  12/9/2011 12:50       2.10     12680.0          France    12        4
541906  12/9/2011 12:50       4.15     12680.0          France    12        4
541907  12/9/2011 12:50       4.15     12680.0          France    12        4
541908  12/9/2011 12:50       4.95     12680.0          France    12        4

        Amount  Discount
0        15.30      0.10
1        20.34      0.10
2        22.00      0.10
3        20.34      0.10
4        20.34      0.10
...        ...       ...
541904   10.20      0.05
541905   12.60      0.05
541906   16.60      0.05
541907   16.60      0.05
541908   14.85      0.05

[541909 rows x 12 columns]

In [16]:
#Tạo cột mới ‘Total’ nhận giá trị bằng: Amount – Discount.
df['Total'] = df['Amount'] - df['Amount']*df['Discount'] 
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

            InvoiceDate  UnitPrice  CustomerID         Country Month Previous  \
0        12/1/2010 8:26       2.55     17850.0  United Kingdom    12        4
1        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
2        12/1/2010 8:26       2.75     17850.0  United Kingdom    12        4
3        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
4        12/1/2010 8:26       3.39     17850.0  United Kingdom    12        4
...                 ...        ...         ...             ...   ...      ...
541904  12/9/2011 12:50       0.85     12680.0          France    12        4
541905  12/9/2011 12:50       2.10     12680.0          France    12        4
541906  12/9/2011 12:50       4.15     12680.0          France    12        4
541907  12/9/2011 12:50       4.15     12680.0          France    12        4
541908  12/9/2011 12:50       4.95     12680.0          France    12        4

        Amount  Discount    Total
0        15.30      0.10  13.7700
1        20.34      0.10  18.3060
2        22.00      0.10  19.8000
3        20.34      0.10  18.3060
4        20.34      0.10  18.3060
...        ...       ...      ...
541904   10.20      0.05   9.6900
541905   12.60      0.05  11.9700
541906   16.60      0.05  15.7700
541907   16.60      0.05  15.7700
541908   14.85      0.05  14.1075

[541909 rows x 13 columns]