In [22]:
import pandas as pd
import numpy as np

df = pd.read_csv('GDPlist.csv', encoding = "ISO-8859-1")
print(df.info())
print('Dữ liệu có 125 dòng và 3 cột')
print('Country và Continent là nominal, GDP (millions of US$) ratio')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
None
Dữ liệu có 125 dòng và 3 cột
Country và Continent là nominal, GDP (millions of US$) ratio

In [23]:
df.rename(columns={'Country' : 'Nuoc', 'Continent' : 'Chauluc', 'GDP (millions of US$)': ' GDP (trieu $)'},inplace = True)
print(df.head())

           Nuoc        Chauluc   GDP (trieu $)
0   Afghanistan           Asia           18181
1       Albania         Europe           12847
2       Algeria         Africa          190709
3        Angola         Africa          100948
4     Argentina  South America          447644

In [24]:
df.insert(1,'Thanh_pho',df.Nuoc)
print(df.head())

           Nuoc     Thanh_pho        Chauluc   GDP (trieu $)
0   Afghanistan   Afghanistan           Asia           18181
1       Albania       Albania         Europe           12847
2       Algeria       Algeria         Africa          190709
3        Angola        Angola         Africa          100948
4     Argentina     Argentina  South America          447644

In [25]:
df['Thanh_pho'].replace('Vietnam','Hanoi',inplace = True)
df['Thanh_pho'][df[df['Thanh_pho'] == 'Vietnam'].index().astype(int)] = 'Hanoi'

TypeError: 'Int64Index' object is not callable

In [19]:
print(df.tail())

            Nuoc    Thanh_pho        Chauluc   GDP (trieu $)
120   Uzbekistan   Uzbekistan           Asia           45353
121    Venezuela    Venezuela  South America          315841
122      Vietnam        Hanoi           Asia          122722
123        Yemen        Yemen         Africa           33675
124       Zambia       Zambia         Africa           19206

In [6]:
df.drop(df.loc[df.Chauluc == 'Asia'].index,axis = 0,inplace = True)
print(df)

               Nuoc       Thanh_pho        Chauluc   GDP (trieu $)
1           Albania         Albania         Europe           12847
2           Algeria         Algeria         Africa          190709
3            Angola          Angola         Africa          100948
4         Argentina       Argentina  South America          447644
5         Australia       Australia        Oceania         1488221
..              ...             ...            ...             ...
118   United States   United States  North America        15094025
119         Uruguay         Uruguay  South America           46872
121       Venezuela       Venezuela  South America          315841
123           Yemen           Yemen         Africa           33675
124          Zambia          Zambia         Africa           19206

[89 rows x 4 columns]

In [10]:
df.rename(columns={' GDP (trieu $)' : 'GDP'},inplace = True)
df.drop(df.loc[df.GDP < 300000].index,axis = 0,inplace = True)
print(df)

                Nuoc        Thanh_pho        Chauluc       GDP
4          Argentina        Argentina  South America    447644
5          Australia        Australia        Oceania   1488221
6            Austria          Austria         Europe    419243
11           Belgium          Belgium         Europe    513396
15            Brazil           Brazil  South America   2492908
21            Canada           Canada  North America   1736869
24          Colombia         Colombia  South America    328422
32           Denmark          Denmark         Europe    333238
41            France           France         Europe   2776324
44           Germany          Germany         Europe   3577031
46            Greece           Greece         Europe    303065
58             Italy            Italy         Europe   2198730
73            Mexico           Mexico  North America   1154784
78       Netherlands      Netherlands         Europe    840433
81            Norway           Norway         Europe    483650
89            Poland           Poland         Europe    513821
100     South Africa     South Africa         Africa    408074
102            Spain            Spain         Europe   1493513
105           Sweden           Sweden         Europe    538237
106      Switzerland      Switzerland         Europe    636059
117   United Kingdom   United Kingdom         Europe   2417570
118    United States    United States  North America  15094025
121        Venezuela        Venezuela  South America    315841