In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('RoadSurfaceHouseTrading.csv')
print(df.gia.min())
print(df.gia.max())
bins = [100, 500, 1000, 10000]
cats = pd.cut(df.gia, bins)
print(cats)
print(df.info())

0.000363
14000000000.0
0        (1000.0, 10000.0]
1                      NaN
2                      NaN
3                      NaN
4                      NaN
               ...
62842    (1000.0, 10000.0]
62843    (1000.0, 10000.0]
62844                  NaN
62845    (1000.0, 10000.0]
62846    (1000.0, 10000.0]
Name: gia, Length: 62847, dtype: category
Categories (3, interval[int64, right]): [(100, 500] < (500, 1000] < (1000, 10000]]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62847 entries, 0 to 62846
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        62847 non-null  int64
 1   dien_tich         62430 non-null  float64
 2   huong_ban_cong    799 non-null    object
 3   phong_ngu         36779 non-null  float64
 4   id_thanh_pho      62847 non-null  object
 5   ten_thanh_pho     62847 non-null  object
 6   id_quan           62846 non-null  object
 7   ten_quan          62846 non-null  object
 8   so_tang           46737 non-null  float64
 9   mat_tien          17404 non-null  float64
 10  noi_that          5091 non-null   object
 11  huong_nha         6981 non-null   object
 12  so_do             39574 non-null  object
 13  lat               62803 non-null  float64
 14  long              62803 non-null  float64
 15  gia               60958 non-null  float64
 16  gia_m2            60750 non-null  float64
 17  du_an             227 non-null    object
 18  project_name      227 non-null    object
 19  id_duong          60554 non-null  object
 20  ten_duong         60554 non-null  object
 21  do_rong_duong     15188 non-null  float64
 22  do_rong_duong_ml  60067 non-null  object
 23  id_phuong         57015 non-null  object
 24  ten_phuong        57010 non-null  object
dtypes: float64(9), int64(1), object(15)
memory usage: 12.0+ MB
None